<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>myApp</title>
    <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/main.css" />
</head>
<body>
    <div class="container" ng-controller="ItemController">
        <div class="page-header">
            <h1></h1>
        </div>
        <div class="alert alert-info" role="alert" ng-hide="items && items.length > 0">
            There are no items yet.
        </div>
        <form class="form-horizontal" role="form" ng-submit="addItem(newItem)">
            <div class="form-group" ng-repeat="item in items">
                <div class="checkbox col-xs-9">
                    <label>
                        <input type="checkbox" ng-model="item.checked" ng-change="updateItem(item)"/> {{item.description}}
                    </label>
                </div>
                <div class="col-xs-3">
                    <button class="pull-right btn btn-danger" type="button" title="Delete" ng-click="deleteItem(item)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>
            <hr />
            <div class="input-group">
                <input type="text" class="form-control" ng-model="newItem" placeholder="Enter the description..." />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" ng-disabled="!newItem" title="Add">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <div class="container" ng-controller="ArchiveController">
        <div plot-graph></div>
    </div>
    <div class="container" ng-controller="SalesDataController">
        <div linear-chart chart-data="salesData"></div>
    </div>
    <div class="container" ng-controller="ClockController">
        <h5>Hello {{rootNamOfMisc}} - {{clock}}</h5>
    </div>
    <div class="container" ng-controller="ParseValueController">
        <input ng-model="expr" type="text" placeholder="Enter an expression"/>
        <h2>{{parsedValue}}</h2>
    </div>
    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="./bower_components/lodash/lodash.min.js"></script>
    <script type="text/javascript" src="./app/app.js"></script>
    <script type="text/javascript" src="./app/item/item.module.js"></script>
    <script type="text/javascript" src="./app/item/item.controller.js"></script>
    <script type="text/javascript" src="./app/item/item.service.js"></script>
    <script type="text/javascript" src="./app/archive/archive.module.js"></script>
    <script type="text/javascript" src="./app/archive/archive.controller.js"></script>
    <script type="text/javascript" src="./app/archive/archive.service.js"></script>
    <script type="text/javascript" src="./app/archive/plotgraph.directive.js"></script>
    <script type="text/javascript" src="./app/archive/helloworld.directive.js"></script>
    <script type="text/javascript" src="./app/sales-data/sales-data.module.js"></script>
    <script type="text/javascript" src="./app/sales-data/sales-data.controller.js"></script>
    <script type="text/javascript" src="./app/sales-data/sales-data.directive.js"></script>
    <script type="text/javascript" src="./app/misc/misc.module.js"></script>
    <script type="text/javascript" src="./app/misc/clock.controller.js"></script>
    <script type="text/javascript" src="./app/misc/parse-value.controller.js"></script>
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>

    <script>
//        var app = angular.module('myApp', []);
//
//        app.directive('helloWorld', function() {
//            return {
//                scope: {},  // use a new isolated scope
//                restrict: 'AE',
//                replace: 'true',
//                template: '<h3>Hello World!!</h3>'
//            };
//        });

    </script>
</body>
</html>