<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>myApp</title>
    <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/main.css" />
</head>
<body>
    <div class="container" ng-controller="ItemController">
        <div class="page-header">
            <h1>A checklist</h1>
        </div>
        <div class="alert alert-info" role="alert" ng-hide="items && items.length > 0">
            There are no items yet.
        </div>
        <form class="form-horizontal" role="form" ng-submit="addItem(newItem)">
            <div class="form-group" ng-repeat="item in items">
                <div class="checkbox col-xs-9">
                    <label>
                        <input type="checkbox" ng-model="item.checked" ng-change="updateItem(item)"/> {{item.description}}
                    </label>
                </div>
                <div class="col-xs-3">
                    <button class="pull-right btn btn-danger" type="button" title="Delete" ng-click="deleteItem(item)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>
            <hr />
            <div class="input-group">
                <input type="text" class="form-control" ng-model="newItem" placeholder="Enter the description..." />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" ng-disabled="!newItem" title="Add">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="./bower_components/lodash/lodash.min.js"></script>
    <script type="text/javascript" src="./app/app.js"></script>
    <script type="text/javascript" src="./app/item/item.module.js"></script>
    <script type="text/javascript" src="./app/item/item.controller.js"></script>
    <script type="text/javascript" src="./app/item/item.service.js"></script>
    <script type="text/javascript" src="app/archive/archive.module.js"></script>
    <script type="text/javascript" src="app/archive/archive.controller.js"></script>
    <script type="text/javascript" src="app/archive/archive.service.js"></script>
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>

    <script>
        //
        var links = [
            {source: "Microsoft", target: "Amazon", type: "licensing"},
            {source: "Microsoft", target: "HTC", type: "licensing"},
            {source: "Samsung", target: "Apple", type: "suit"},
            {source: "Motorola", target: "Apple", type: "suit"},
            {source: "Nokia", target: "Apple", type: "resolved"},
            {source: "HTC", target: "Apple", type: "suit"},
            {source: "Kodak", target: "Apple", type: "suit"},
            {source: "Microsoft", target: "Barnes & Noble", type: "suit"},
            {source: "Microsoft", target: "Foxconn", type: "suit"},
            {source: "Oracle", target: "Google", type: "suit"},
            {source: "Apple", target: "HTC", type: "suit"},
            {source: "Microsoft", target: "Inventec", type: "suit"},
            {source: "Samsung", target: "Kodak", type: "resolved"},
            {source: "LG", target: "Kodak", type: "resolved"},
            {source: "RIM", target: "Kodak", type: "suit"},
            {source: "Sony", target: "LG", type: "suit"},
            {source: "Kodak", target: "LG", type: "resolved"},
            {source: "Apple", target: "Nokia", type: "resolved"},
            {source: "Qualcomm", target: "Nokia", type: "resolved"},
            {source: "Apple", target: "Motorola", type: "suit"},
            {source: "Microsoft", target: "Motorola", type: "suit"},
            {source: "Motorola", target: "Microsoft", type: "suit"},
            {source: "Huawei", target: "ZTE", type: "suit"},
            {source: "Ericsson", target: "ZTE", type: "suit"},
            {source: "Kodak", target: "Samsung", type: "resolved"},
            {source: "Apple", target: "Samsung", type: "suit"},
            {source: "Kodak", target: "RIM", type: "suit"},
            {source: "Nokia", target: "Qualcomm", type: "suit"}
        ];

        var nodes = {};

        // Compute the distinct nodes from the links.
        links.forEach(function(link) {
            link.source = nodes[link.source] || (nodes[link.source] = {name: link.source});
            link.target = nodes[link.target] || (nodes[link.target] = {name: link.target});
        });

        var width = 960,
            height = 500;

        var force = d3.layout.force()
            .nodes(d3.values(nodes))
            .links(links)
            .size([width, height])
            .linkDistance(60)
            .charge(-300)
            .on("tick", tick)
            .start();

        var svg = d3.select("body").append("svg")
            .attr("width", width)
            .attr("height", height);

        // Per-type markers, as they don't inherit styles.
        svg.append("defs").selectAll("marker")
            .data(["suit", "licensing", "resolved"])
            .enter().append("marker")
            .attr("id", function(d) { return d; })
            .attr("viewBox", "0 -5 10 10")
            .attr("refX", 15)
            .attr("refY", -1.5)
            .attr("markerWidth", 6)
            .attr("markerHeight", 6)
            .attr("orient", "auto")
            .append("path")
            .attr("d", "M0,-5L10,0L0,5");

        var path = svg.append("g").selectAll("path")
            .data(force.links())
            .enter().append("path")
            .attr("class", function(d) { return "link " + d.type; })
            .attr("marker-end", function(d) { return "url(#" + d.type + ")"; });

        var circle = svg.append("g").selectAll("circle")
            .data(force.nodes())
            .enter().append("circle")
            .attr("r", 6)
            .call(force.drag);

        var text = svg.append("g").selectAll("text")
            .data(force.nodes())
            .enter().append("text")
            .attr("x", 8)
            .attr("y", ".31em")
            .text(function(d) { return d.name; });

        // Use elliptical arc path segments to doubly-encode directionality.
        function tick() {
            path.attr("d", linkArc);
            circle.attr("transform", transform);
            text.attr("transform", transform);
        }

        function linkArc(d) {
            var dx = d.target.x - d.source.x,
                dy = d.target.y - d.source.y,
                dr = Math.sqrt(dx * dx + dy * dy);
            return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
        }

        function transform(d) {
            return "translate(" + d.x + "," + d.y + ")";
        }

    </script>
</body>
</html>